<div
  *ngIf="store.state$ | async as state">

     <!-- <div
    *ngIf="state.setProgressBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>  -->

  <div
    *ngIf="store.state$ | async as state"
  >

      <!-- <mat-paginator [length]="state.allEditions.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)= "onPageChange($event)" >
      </mat-paginator> --> 
      <app-add-edit-local
        *ngFor="let local of (state.allLocals)"
        [local]="local"
        >
        <!-- [local_name]="local.local_name"
        [min_age]="local.room_state.age_span.min_age"
        [max_age]="local.room_state.age_span.max_age"
        [is_open]="local.room_state.is_open"
        [member_count]="local.room_state.member_count"
        [max_member_count]="local.room_state.max_member_count"
        [is_selction]="local.room_state.is_selction" -->
      </app-add-edit-local>
      
  </div>

</div> 